<div class="background center">
  <div class="body">
    <div id="header">

    </div>
    <div id="ask" class="background-color">
      <div class="reports" id='reports'>
        <div class="position-form">
          <div class="form" id="form">
            <div class="contact_form" scrolly="true" >
    
              <div class="formulario">			
                <h1>saldo actual</h1>
    
                    <form action="submeter-formulario.php" method="post">				
                          <p>
                            
                              <input type="number" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu saldo">
                          </p>
                        
                          <div >
                            <p class="aviso" >
                              <span class="obligatorio"></span>Antes de continuar por favor ingresa tu saldo actual.
                            </p>			
                          </div>
                    </form>
              </div>	
              <button class="btn" style="margin-top: 16px;" (click)="continue()">
                <label>
                  Continuar
                </label>
              </button>
            </div>
          </div>
    </div>
  </div>
  
</div>
